.wrapper-3 {
    & img {
        opacity: 0;
        transition: 1s;
    }
    .container {
        width: 600px;
        height: 200px;
        overflow: hidden;
        position: relative;
        left: 50%;
        margin-left: -300px;
        border-radius: 30px;
        background: radial-gradient(ellipse at center, #5a0096 1%, #8400db 65%);
        box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
    }

    .controls,
    .logo {
        width: 80px;
        font-size: 40px;
        text-align: center;
        line-height: 76px;
        background: #390053;
        margin: 0 auto 0;
        box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
    }

    .controls {
        border-radius: 0 0 20px 20px;
        cursor: pointer;
    }

    .logo {
        margin-top: 50px;
        border-radius: 20px 20px 0 0;
    }

    .reel {
        position: absolute;
        width: 200px;
        height: 100%;
        animation: reel 1.75s ease-in-out;
        overflow: hidden;

        .inner {
            width: 200px;
            height: 200px; // Высота каждого элемента
            font-size: 130px;
            line-height: 200px; // Центрирование по высоте
            text-align: center;
            overflow: hidden;

            & .first {
                transform: translateY(20px);
            }
            & .final {
                transform: translateY(20px);
                position: absolute;
                bottom: 0;
                display: block !important;
                z-index: 10;
            }
        }
    }

    .first {
        left: 0;
        animation-delay: -0.5s; // Задержка для первого слота
    }

    .second {
        left: 200px;
        animation-delay: -0.2s; // Задержка для второго слота
    }

    .third {
        left: 400px;
        animation-delay: 0s; // Задержка для третьего слота
    }
}

@keyframes reel {
    0% {
        top: 0; // Начальное положение
    }
    100% {
        top: calc(-100% * 10 + 200px); // Конечное положение (останавливаем на финальном эмодзи)
    }
}
