.wrapper-3 {
    & .container {
        /* Фиксированная ширина */
        width: 600px;
        /* Фиксированная высота */
        height: 200px;
        /* Обрезаем содержимое, выходящее за границы */
        overflow: hidden;
        /* Позиционируем */
        position: relative;
        /* Сдвигаем контейнер на середину экрана */
        left: 50%;
        /* Компенсируем смещение, центрируя контейнер */
        margin-left: -300px;
        /* Закругляем углы */
        border-radius: 30px;
        /* Фон с радиальным градиентом*/
        background: radial-gradient(ellipse at center, #80b0ff 1%, #5d9bfd 65%);
        /* Добавляем тень для объёма */
        box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
    }
    & .controls,
    .logo {
        /* Фиксированная ширина */
        width: 80px;
        /* Размер шрифта */
        font-size: 40px;
        /* Выравнивание содержимого по центру */
        text-align: center;
        /* Высота строки для центрирования */
        line-height: 76px;
        /* Серый фон */
        background: #b5b5b5;
        /* Отступы 0, автоцентрирование по горизонтали */
        margin: 0 auto 0;
        /* Эффект свечения */
        box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
    }
    /* Кнопка перезапуска */
    & .controls {
        /* Закругляем только нижние углы */
        border-radius: 0 0 20px 20px;
        /* Делаем курсор указателем, чтобы показать, что элемент кликабельный */
        cursor: pointer;
    }
    /* Оформляем логотип */
    & .logo {
        /* Отступ сверху */
        margin-top: 50px;
        /* Закругляем только верхние углы */
        border-radius: 20px 20px 0 0;
    }
    & .reel {
        /* Абсолютное позиционирование внутри контейнера */
        position: absolute;
        /* Фиксированная ширина слота */
        width: 200px;
        /* Высота больше контейнера для эффекта прокрутки */
        height: 1800%;
        /* Применяем анимацию прокрутки */
        animation: reel 1.75s linear 2;
        /* Обрезаем всё, что выходит за границы */
        overflow: hidden;
    }
    & .inner {
        /* Ширина слота */
        width: 200px;
        /* Высота элемента для корректного отображения эмодзи */
        height: 66%;
        /* Размер эмодзи */
        font-size: 130px;
        /* Высота строки для центрирования */
        line-height: 216px;
        /* Обрезаем всё, что выходит за границы */
        overflow: hidden;
    }
    & .first {
        left: 0;
        animation-delay: -0.5s;
    }
    & .second {
        left: 200px;
        animation-delay: -0.2s;
    }
    & .third {
        left: 400px;
        animation-delay: 0s;
    }
}
@keyframes reel {
    0% {
        /* В начале анимации слот находится в исходном положении */
        top: 0;
    }
    100% {
        /* Слот сдвигается вверх, создавая эффект прокрутки */
        top: -1187%;
    }
}
